

*{

    box-sizing: border-box;
}


html{

  scroll-behavior: smooth;
  font-size:18px;

}

nav {
position: fixed;
top: 0;
background-color:#101819 ;
z-index: 1000; 
width:100%;
padding:10px 20px;
display:flex;
align-items:center;
justify-content: center;
}

body{
background-color:#2f3e46;
color:#cad2c5;

}


#header-img{
height:auto;
width:50px;

}


ul{
display:flex;
justify-content:center;
align-items:center;
list-style:none;
gap:15px;
margin:0;
padding: 0;

}

.how-section,.features, .Pricing{

margin-top:120px;
}

ul li a {
text-decoration:none;
color:#cad2c5;
font-size:16px;
position:relative;
transition: 0.8s all linear all linear;
padding: 8px 15px;

display:inline-block;
}


ul li a:hover {
        color: #84a98c;
    }

ul li a::before {

position:absolute;
content:'';
bottom:0;
left: 0;

}


.hero-section{
display: flex;
margin-top: 10%;

}



.hero-text{
margin-left:5%;
margin-right:2%;
}


.hero-title{
font-size:55px;
}



button, #submit{
height:40px;
width:160px;
border-radius:50px;
background:transparent;
color:#cad2c5;
border-color:#cad2c5;
margin-top:5%;

}

 button:hover {
color:#84a98c;

}


#meditating-lady{
width:auto;
height: 400px;
}


.how-section{
padding-top:150px;
text-align:center;
height:100vh;
gap:10px;

}

.How-it-works{
font-size:74px;

}

.step{

font-size:30px;

}

.plan{
text-align:center;
display:inline-block;
border-style:solid;
border-radius:10%;
padding:15px;
min-width:100px;
max-width:400px;
flex-wrap: wrap;
}



.Features {
height:70vh;
width:100%;
display:flex;
gap:100px;
flex-wrap: wrap;
}

.feature-pic{
height:300px;
width:500px;
}



.Feature-text{
display:flex;
flex-direction:column;
height:600px;
width:400px;
flex-wrap: wrap;
}



.foodpic{

height: 300px;
}

spacing{

gap:20px;

}

.pricing{
height:100vh;
}



.price-text{
text-align:center;
margin-top:150px;
}

.tiers{
display:flex;
justify-content: space-between;
align-items:center;
justify-content:center;
flex-wrap: wrap;
justify-content: space-evenly;
}



footer{

display:flex;
flex-direction: column;
height:100vh;
align-items:center;
justify-content:center;
}

form{

    display: flex;
    flex-direction: column;
}



@media only screen and (max-width: 768px) {

.hero-text{
flex-wrap: wrap;

}

.hero-section{
    flex-wrap:wrap;
gap:20px;
margin:10%;
}

.how-section{


margin-bottom: 20%;

}



.nutri-text{

padding:30%;

}

.Pricing{

margin-top:150% ;

}
.spacing{
    display: flex;
flex-direction: column;
}

#nutrition{
height: 10%;

}

#fitnes{

height: 10%;

}
.feature-pic{
    
}

}


